@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


/* Aumenta o tamanho da fonte dos itens da barra lateral */
.st-emotion-cache-1bz1fz9 .st-emotion-cache-1q2d4ya {
    font-size: 30px;
}

.st-emotion-cache-mpkxq4 {
    font-size: 20px;
    margin-right: 10px;
}